%h1 New Person
= form_for @related_person, :url => user_people_path(@user) do |f|
  - @related_person.errors.full_messages.each do |msg|
    = msg
  -if @person
    = f.hidden_field :parent_id, :value => @person.id
  %p
    = f.text_field :name, :placeholder => 'Name'
  %p
    = f.label :relationship_type
    %br/
    = f.select :relationship_type, options_for_select(RelationshipType.all.collect {|a| [a.name.capitalize.gsub('_', '-'), a.id]})
  %p
    = f.label :date_of_birth
    %br/
    = f.date_select :date_of_birth, :start_year => 1200, :end_year => Time.now.year
  %p
    = f.submit