%h1 Sign up now!
%h2 Start creating your family tree today
= form_for @user do |f|
  -if @user.errors
    %ul#errors
      - @user.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.text_field :name, :placeholder => 'Name'
  %p
    = f.text_field :email, :placeholder => 'Email'
  %p
    = f.label :gender
    %br/
    = f.select :gender, options_for_select([ "Male", "Female" ], "Male")
  %p
    = f.label :date_of_birth
    %br/
    = f.date_select :date_of_birth, :start_year => 1200, :end_year => Time.now.year
  %p
    = f.password_field :password, :placeholder => 'Password'
  %p
    = f.password_field :password_confirmation, :placeholder => 'Password Confirmation'
  %p
    = f.button "", :type => 'submit', :class => 'signup_button', :id => 'signup_button'
  %a.silent{:href => login_path}
    Already a member?
    Login here
  
  
