%h1 A family tree is meant to be shared.
%h2 Create your family tree and invite your family members to help make it complete!  
#home_graphic
%a.signup_button{:href => signup_path}
%a.silent{:href => login_path}
  Already a member?
  Login here
