.person.large{:id => 'person_'+person.id.to_s}
  .picture
    .add_person
      = link_to "+", add_user_person_path(@user, person), :title => "Add Person"
    %a.no_underline{:href => user_person_path(@user, person)}
      %span.image-wrap.large{:style => "background:url(/assets/user_icon_large_"+person.gender.downcase+".png) no-repeat center center;"}
  .name
    = person.name
  .born
    %strong
      Born:
    = person.date_of_birth.to_date