.person.small{:id => 'person_'+person.id.to_s}
  .picture
    .add_person
      = link_to "+", add_user_person_path(@user, person), :title => "Add Person"
    - unless person.is_user
      .remove_person
        = link_to "-", user_person_relationship_path(@user, person, relationship), :title => "Remove Person", :method => 'delete', :confirm => "Are you sure you want to remove this person?"
    %a.no_underline{:href => user_person_path(@user, person)}
      %span.image-wrap.small{:style => "background:url(/assets/user_icon_small_"+person.gender.downcase+".png) no-repeat center center;"}
  .name
    = person.name
  .relationship_type{:class => person.gender}
    = relationship.relationship_type.name.capitalize.gsub('_', '-')
  .born
    %strong
      Born:
    = person.date_of_birth.to_date