%h1 Login
%h2 View, add, edit, and invite your family members.
= form_for @user_session do |f|
  -if @user_session.errors
    %ul#errors
      - @user_session.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.text_field :email, :placeholder => 'Email'
  %p
    = f.password_field :password, :placeholder => 'Password'
  %p
    = f.button "", :type => 'submit', :class => 'login_button', :id => 'login_button'
  %a.silent{:href => signup_path}
    New to Famingle?
    Sign up today!
