%html
  %head
    %title MyFamily
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags 
  
  %body
    .container
      - if current_user
        #header_bar
          %a.logo_small{:href => user_people_path(current_user)}
          = link_to "Invite Your Family (Coming Soon)", '#'
          = link_to "Logout", logout_path
          .clr_flt
      - flash.each do |name, message|
        %div{:class => "flash flash_"+name.to_s}
          = message
      = yield