%html
  %head
    %title MyFamily
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags 
  
  %body
    #header_logo
      %a.logo{:href => home_path}
    - if current_user
      = link_to "Logout", logout_path
    .container
      - flash.each do |name, message|
        %div{:class => "flash flash_"+name.to_s}
          = message
      = yield